.SearchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.file-list {
    width: calc(100% - 40px); /* Usar todo el ancho disponible, restando el espacio del margen */
    max-width: 800px;
    margin: 20px 20px 0 20px; /* Aplicar margen solo en la parte superior y los costados */
}

.file-item {
    width: 100%;
    margin: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
}

.file-item:hover {
    background-color: #f1f1f1;
}

.file-content {
    padding: 10px;
    text-align: left;
}
